body{
}
body div{
    border:3px dashed blue;
}
*{box-sizing: border-box;}
.flexContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:3%;
    background-color:orangered;
}
.flexContainer div{
    width:30vw;
    height:30vw;
    margin:3%;
    position: relative;

}
.flexContainer div div{
    position: absolute;
    left: 0;
    background-size: cover;
}
.flexContainer div:nth-child(1) .img{
    background-image: url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/lew.jpg?raw=true);
}
.flexContainer div:nth-child(2) .img{
    background-image: url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/nosorozec.jpg?raw=true);
}
.flexContainer div:nth-child(3) .img{
    background-image: url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/slon.jpg?raw=true);
}
.flexContainer div:nth-child(4) .img{
    background-image: url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/zebra.jpg?raw=true);
}
.Box{
    background-color: orchid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Box:active{
    opacity: 0;
    transition: 1s;
}
@media (max-width:720px){
    .flexContainer div{
    width:60vw;
    height:60vw;

}