body{
background-color:cyan;
}
h1{
    color:brown;
}
div{
    border:5px dashed green;
}
.Glowny{
    border: 6px dashed orangered;
display:flex;
justify-content: space-evenly;
}
img{
    width:100%;
}
.Glowny div{
width:20%;
}
.Pelny{
    border:5px dashed rgb(167, 96, 233);
}
.img{
    width:50%;
}
.desc{
    width:50%;
    margin-right: auto;
}