
.icon-music:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
